

<div class="panel panel-primary">
    <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidenav">
        <div class="w3-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-closebtn w3-hover-text-red"></i>
            <h3 class="w3-wide" style="margin-top:100px"><b>PointCollege</b></h3>
        </div>
        <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="/Studentxes/Details" class="w3-bar-item w3-button">Omat tietoni</a>
            <a href="/Studentxes" class="w3-bar-item w3-button">Hoitaja</a>
            <a href="/Index" class="w3-bar-item w3-button">Aloitussivu</a>
            <a href="/Customers" class="w3-bar-item w3-button">Asiakas</a>
            <a href="/TreatmentReports" class="w3-bar-item w3-button">Hoitoraportit</a>
            <a href="/TreatmentReports/" class="w3-bar-item w3-button">Asiakkaan hoitotiedot</a>
            <a href="/Reservations" class="w3-bar-item w3-button">Palveluvaraukset</a>
            <a href="/Customers/Details" class="w3-bar-item w3-button">Asiakaslistaus</a>
            <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                Tietohallinta <i class="fa fa-caret-down"></i>
            </a>
            <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Tietohallinta</a>
                <a href="/Personnels" class="w3-bar-item w3-button">Henkilökuntahallinta</a>
                <a href="/TreatmentPlaces" class="w3-bar-item w3-button">Hoitopaikkahallinta</a>
                <a href="/Users" class="w3-bar-item w3-button">Käyttäjähallinta</a>
                <a href="/PostOfficess" class="w3-bar-item w3-button">Osoitehallinta</a>
                <a href="/Treatments" class="w3-bar-item w3-button">Palveluhallinta</a>
                <a href="/TreatmentOffices" class="w3-bar-item w3-button">Toimipistehallinta</a>
                <a href="/StudentGroups" class="w3-bar-item w3-button">Hoitajaryhmähallinta</a>
                @*<a href="#">#</a>*@
            </div>
        </div>
       

        @*<a href="#">#</a>*@

        <a href="#footer" class="w3-padding">Yhteystiedot</a>
        <a href="javascript:void(0)" class="w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Tiedotteet</a>
        <a href="#footer" class="w3-padding">Kirjaudu</a>
    </nav>
</div>
