<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/Scripts/DayPilot/daypilot-all.min.js"></script>
<script src="~/Scripts/daypilot-all.min.js"></script>
<script src="~/Scripts/DayPilot/daypilot-calendar.src.js"></script>

<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<style>
    .container{
        margin-left:10px;

    }
    .body-content{
    padding-left:10px;
    padding-right:10px;
    }

</style>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

 <!-- Sidenav/menu -->
    <div class="panel panel-primary">

        <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidenav">
            <div class="w3-container w3-padding-16">
                <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-closebtn w3-hover-text-red"></i>
                <h3 class="w3-wide" style="margin-top:100px"><b>PointCollege</b></h3>
            </div>

            <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
                <a href="/Home/StartPage" class="w3-bar-item w3-button">PointAika etusivu</a>
                <a href="/Studentxes/Details" class="w3-bar-item w3-button">Omat tietoni</a>
                <a href="/Studentxes" class="w3-bar-item w3-button">Hoitaja</a>               
                <a href="/Customers" class="w3-bar-item w3-button">Asiakas</a>     
                <a href="/Reservations" class="w3-bar-item w3-button">Palveluvaraukset</a>
                <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                    Tietohallinta <i class="fa fa-caret-down"></i></a>
                <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                    <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Henkilöt</a>
                    <a href="/Personnels" class="w3-bar-item w3-button">Henkilökuntahallinta</a>
                    <a href="/Users" class="w3-bar-item w3-button">Käyttäjähallinta</a>
                    <a href="/StudentGroups" class="w3-bar-item w3-button">Hoitajaryhmähallinta</a>
                    <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Toiminta</a>
                    <a href="/TreatmentPlaces" class="w3-bar-item w3-button">Palvelupaikkahallinta</a>
                    <a href="/PostOffices" class="w3-bar-item w3-button">Osoitehallinta</a>
                    <a href="/Treatments" class="w3-bar-item w3-button">Palveluhallinta</a>
                    <a href="/TreatmentOffices" class="w3-bar-item w3-button">Toimipistehallinta</a>
                    @*<a href="#">#</a>*@
                </div>
            </div>
            @*<a href="#">#</a>*@

            <a href="#footer" class="w3-padding">Yhteystiedot</a>
            <a href="javascript:void(0)" class="w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Tiedotteet</a>
            <a href="#footer" class="w3-padding">Kirjaudu</a>
        </nav>
    </div>




<script>
            // Accordion
            function myAccFunc() {
                var x = document.getElementById("demoAcc");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }

            // Script to open and close sidenav
            function w3_open() {
                document.getElementById("mySidenav").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidenav").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            }
</script>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}