@model PointCustomSystemDataMVC.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "AddNotes";
}

<link rel="stylesheet" href="/lib/w3.css">

<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>

<h2>Asiakastiedot</h2>

<div>

    @Html.ActionLink("Takaisin asiakastietoihin", "Index")

</div>
    
<body class="w3-content" style="max-width:1200px">

@*<div class="w3-container w3-padding-4">

    <form id="Asiakasnotes">

            <h2 class="w3-text-blue">Asiakkaan jalkahoitotiedot</h2>
            <p>Asikkaan hoitotiedot</p>

            <div class="form-group">
                <div class="col-md-12">
                    <a href="#" class="w3-btn w3-grey" onclick="TallennaAsiakasNotes()">Tallenna</a>
                </div>
            </div>

        <div class="w3-display-container">
            <div class="w3-display-topleft w3-padding">
                <p>
                    <label class="w3-text-grey"><b>Suoritetut hoidot</b></label>
                        <input class="w3-left-align w3-input w3-border" style="width:1000px;height:500px" name="first" type="text">
                </p>

        
                <p>
                    <label class="w3-text-grey"><b>Muut huomiot</b></label>
                    <input class="w3-left-align w3-input w3-border" style="width:1000px;height:500px" name="last" type="text">
                </p>

               
            </div>
        </div> 
    </form>*@


    <div class="form-group">
        <div class="col-md-12">
            <a href="#" class="w3-btn w3-grey" onclick="TallennaAsiakasNotes()">Tallenna</a>
        </div>
    </div>
  <table>

        <tr>
            <td align="right" class="htext" valign="top">Hoidot:</td>
            <td>
                <textarea name="hoitokertomus" rows="100" cols="100"></textarea>
            </td>
        </tr>
    </table>


    @*</div>*@
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
       

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script type="text/javascript">

    var Asiakastietotallennus = function () {
        var data = $("#Asiakasnotes").serialize();

        $.ajax({
            type: "Post",
            url: "/Customers/TallennaAsiakasNotes",
            data: data,
            success: function (response) {
                alert("Tiedot tallennettu!");
            }

        })

    }
</script>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")

}
