
@{
    ViewBag.Title = "Index";
}
<title>PointCollege Ajanvarausohjelmisto</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/Scripts/DayPilot/daypilot-all.min.js"></script>
<script src="~/Scripts/daypilot-all.min.js"></script>
<script src="~/Scripts/DayPilot/daypilot-calendar.src.js"></script>

<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>
@{
    var greeting = "Tervetuloa Point Collegen Jalkahoitolan varaustenhallinta sivustolle! ";
    var weekDay = DateTime.Now.ToLocalTime().DayOfWeek;
  
    var pvm = DateTime.Now.Date.ToLocalTime();

    var greetingMessage = greeting + " Tänään on: " + pvm + " " + weekDay;
}

<style>

    p1{
        font-size:24px;
    }
    h2{
        font-size:36px;
        color:black;
    }
</style>

<h2>Kirjautuminen PointCollegen jalkahoitolan ajanvarausjärjestelmään</h2>
<br /><br />
<!-- Image header -->
<div class="w3-display-container w3-container">
    <img src="~/Images/talvimarjat.jpg" alt="talvimarjat" style="width:100%">
    <div class="w3-display-topleft w3-padding-xxlarge w3-text-white" style="padding:24px 48px">
        <h1 class="w3-jumbo w3-hide-small">AJANVARAUSJÄRJESTELMÄ</h1>
        <p1>@greetingMessage</p1>
        <h2 class="w3-hide-large w3-hide-medium">PointAika</h2>
        <h2 class="w3-jumbo w3-hide-small" style="font-size:50px">PointAika</h2>
        <p><a href="/Home/StartPage" class="w3-btn w3-padding-large w3-large">PointAika etusivu</a></p>
    </div>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@section Scripts {



    @Scripts.Render("~/bundles/jqueryval")

}