@{
    ViewBag.Title = "Home Page";
}

@*@{ Html.RenderAction("SideMenu", "Test");}*@
 
<title>PointCollege Ajanvarausohjelmisto</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Scripts/DayPilot/daypilot-all.min.js"></script>
    <script src="~/2.7/JavaScript/daypilot-modal-2.7.js"></script>
    <script src="~/Scripts/daypilot-all.min.js"></script>

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script src="/Scripts/jquery-3.1.1.js"></script>

<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>

    <style>
        .w3-sidenav a {
            font-family: "Roboto", sans-serif;
        }

        body, h1, h2, h3, h4, h5, h6, .w3-wide {
            font-family: "Montserrat", sans-serif;
        }
    </style>


    <body class="w3-content" style="max-width:1200px">

    <!-- Sidenav/menu -->
    <nav class="w3-sidenav w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidenav">
        <div class="w3-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-closebtn w3-hover-text-red"></i>
            <h3 class="w3-wide" style="margin-top:100px"><b>PointCollege</b></h3>
        </div>
        <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold;font-size:12px;color:#757575!important">
            <a href="/Studentxes">Omat tietoni</a>
            <a href="/Studentxes">Hoitaja</a>
            <a href="/Index">Aloitussivu</a>
            <a href="/Customers">Asiakas</a>
            <a href="/Reservations">Asiakasvaraukset</a>

            @*<a href="/Asiakaslista">AsiakasDemo&raquo;</a>*@
            <div class="w3-accordion">
                <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-text-black" id="myBtn">
                    Tietohallinta <i class="fa fa-caret-down"></i>
                </a>
                <div id="demoAcc" class="w3-accordion-content w3-padding-large w3-medium">
                    <a href="#" class="w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Tietohallinta</a>
                    <a href="/Personnels">Henkilökuntahallinta</a>
                    <a href="/Treatmentplaces">Hoitopaikkahallinta</a>
                    <a href="/Users">Käyttäjähallinta</a>
                    <a href="/PostOfficess">Osoitehallinta</a>
                    <a href="/Treatments">Palveluhallinta</a>
                    <a href="/Phones">Puhelinhallinta</a>
                    <a href="/TreatmentOffices">Toimipistehallinta</a>
                    @*<a href="#">#</a>*@
                </div>
            </div>

            @*<a href="#">#</a>*@
        </div>
        <a href="#footer" class="w3-padding">Yhteystiedot</a>
        <a href="javascript:void(0)" class="w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Tiedotteet</a>
        <a href="#footer" class="w3-padding">Kirjaudu</a>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-black w3-xlarge w3-padding-24">
        <span class="w3-left w3-wide">PointCollege</span>
        <a href="javascript:void(0)" class="w3-right w3-opennav" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </header>

    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Top header -->
        <header class="w3-container w3-xlarge">
            <p class="w3-left">Point College Ajanvarausjärjestelmä</p>
            <p class="w3-right">
                <i class="fa fa-shopping-cart w3-margin-right"></i>
                <i class="fa fa-search"></i>
            </p>
        </header>

        <!-- Image header -->
        <div class="w3-display-container w3-container">
            <img src="~/Images/talvimarjat.jpg" alt="talvimarjat" style="width:100%">
            <div class="w3-display-topleft w3-padding-xxlarge w3-text-white">
                <h1 class="w3-jumbo w3-hide-small">Ajanvarausjärjestelmä</h1>
                <h1 class="w3-hide-large w3-hide-medium">Etusivu</h1>
                <h1 class="w3-hide-small">Asiakashallinta</h1>
                <p><a href="#kalenteri" class="w3-btn w3-padding-large w3-large">Kalenteri</a></p>
            </div>
        </div>

        @*//KALENTERINÄKYMÄ*@


        @*<div>
                @Html.DayPilotMonth("dpm", new DayPilotMonthConfig
                {
                BackendUrl = Url.Content("~/Reservations/Backend"),
                EventMoveHandling = DayPilot.Web.Mvc.Events.Month.EventMoveHandlingType.CallBack,
                EventResizeHandling = DayPilot.Web.Mvc.Events.Month.EventResizeHandlingType.CallBack,
                TimeRangeSelectedHandling = DayPilot.Web.Mvc.Events.Month.TimeRangeSelectedHandlingType.JavaScript,
                TimeRangeSelectedJavaScript = "dpm.timeRangeSelectedCallBack(start, end, { name: prompt('New Event Name:', 'New Event') });"
                })
            </div>*@

        <div class="w3-container w3-text-grey" id="kalenteri">
            <p>Kalenteri</p>

            <div style="float:left; width:150px;">
                <div id="nav"></div>
            </div>
            <div style="margin-left:150px;">
                <div id="dp"></div>
            </div>

            @*<div class="space">
                    <select id="theme">
                        <option value="calendar_default">Default</option>
                        <option value="calendar_g">Google-Like</option>
                        <option value="calendar_green">Green</option>
                        <option value="calendar_traditional">Traditional</option>
                        <option value="calendar_transparent">Transparent</option>
                        <option value="calendar_white">White</option>
                    </select>
                </div>*@
            <br>
            @*https://code.daypilot.org/81367/daypilot-modal*@

        </div>
        <!-- Product grid -->
        @*<div class="w3-row w3-grayscale">
                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <img src="#" style="width:100%">
                        <p>#<br><b>$</b></p>
                    </div>
                    <div class="w3-container">
                        <img src="#" style="width:100%">
                        <p>#<br><b>$</b></p>
                    </div>
                </div>

                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="#" style="width:100%">
                            <span class="w3-tag w3-display-topleft">#</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-btn"># <i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>#<br><b>$</b></p>
                    </div>
                    <div class="w3-container">
                        <img src="#" style="width:100%">
                        <p>#<br><b>$</b></p>
                    </div>
                </div>

                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <img src="#".jpg" style="width:100%">
                        <p>#<br><b>$</b></p>
                    </div>
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="#" style="width:100%">
                            <span class="w3-tag w3-display-topleft">#</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-btn"># <i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>#<br><b class="w3-text-red">$</b></p>
                    </div>
                </div>

                <div class="w3-col l3 s6">
                    <div class="w3-container">
                        <img src="#" style="width:100%">
                        <p>#<br><b>$</b></p>
                    </div>
                    <div class="w3-container">
                        <img src="#" style="width:100%">
                        <p>#<br><b>$</b></p>
                    </div>
                </div>
            </div>*@

        <!-- Subscribe section -->
        <div class="w3-container w3-black w3-padding-4">
            <h1></h1>
            <p></p>
            @*<p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
                <button type="button" class="w3-btn w3-padding w3-red w3-margin-bottom"></button>*@
        </div>

        <!-- Footer -->
        <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
            <div class="w3-row-padding">
                <div class="w3-col s4">
                    <h4>Ota yhteyttä</h4>
                    <p>#.</p>
                    <form action="form.asp" target="_blank">
                        <p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>
                        <button type="submit" class="w3-btn-block w3-padding w3-black">Lähetä</button>
                    </form>
                </div>

                <div class="w3-col s4">
                    <h4>Info</h4>
                    <p><a href="#">Yhteystiedot</a></p>
                    <p><a href="#">Aikuiskoulutus</a></p>
                    <p><a href="#">Maksaminen</a></p>
                    <p><a href="#">Lahjakortti</a></p>
                    <p><a href="#">Etusivu</a></p>
                    <p><a href="#">Tuki</a></p>
                </div>

                <div class="w3-col s4 w3-justify">
                    <h4>Point College jalkahoitola</h4>
                    <p><i class="fa fa-fw fa-map-marker"></i> Porvoo International College</p>
                    <p><i class="fa fa-fw fa-phone"></i> (019) 529 9200</p>
                    <p><i class="fa fa-fw fa-envelope"></i> info@pointcollege.fi</p>
                    <h4>Maksaminen</h4>
                    <p><i class="fa fa-fw fa-cc-amex"></i> #</p>
                    <p><i class="fa fa-fw fa-credit-card"></i> Pankkikortti</p>
                    <br>
                    <i class="fa fa-facebook-official w3-xlarge w3-hover-text-indigo"><a href="http://www.pointcollege.fi" title="jalkahoitola" target="_blank"></a></i>
                    <i class="fa fa-instagram w3-xlarge w3-hover-text-purple"></i>
                    <i class="fa fa-twitter w3-xlarge w3-hover-text-light-blue"></i>
                    <i class="fa fa-pinterest w3-xlarge w3-hover-text-red"></i>
                    <i class="fa fa-flickr w3-xlarge w3-hover-text-blue"></i>
                </div>
            </div>
        </footer>

        <div class="w3-black w3-center w3-padding-24">Point College <a href="http://www.pointcollege.fi" title="jalkahoitola" target="_blank" class="w3-hover-opacity">jalkahoitola</a></div>

        <!-- End page content -->
    </div>

    <!-- Newsletter Modal -->
    <div id="newsletter" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-padding-jumbo">
            <div class="w3-container w3-white w3-center">
                <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-closebtn w3-xlarge w3-hover-text-grey w3-margin"></i>
                <h2 class="w3-wide">TIEDOTTEET</h2>
                <p>Kirjautumalla järjestelmään, saat pääsyn asiakastietoihin.</p>
                <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
                <button type="button" class="w3-btn w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
            </div>
        </div>
    </div>

        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        </body>

    <script>
            // Accordion
            function myAccFunc() {
                var x = document.getElementById("demoAcc");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }

            // Click on the "Jeans" link on page load to open the accordion for demo purposes
            document.getElementById("myBtn").click();


            // Script to open and close sidenav
            function w3_open() {
                document.getElementById("mySidenav").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidenav").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            }

            // Script kalenterinäkymä:
            var nav = new DayPilot.Navigator("nav");
            //editoitu
            nav.locale = "fi-fi";

            nav.showMonths = 1;
            nav.selectMode = "week";
            nav.onTimeRangeSelected = function (args) {
                dp.startDate = args.start;

                dp.update();


                //JSON kysely
                LoadEvents(dp.visibleStart(), dp.visibleEnd());
            };
            nav.init();


            var dp = new DayPilot.Calendar("dp");
            //editoitu
            dp.locale = "fi-fi";
            dp.allowEventOverlap = false;

            dp.viewType = "Week";
            dp.init();

            //event creating
            var e = new DayPilot.Event({
                start: new DayPilot.Date("2016-05-12T12:00:00"),
                end: new DayPilot.Date("2016-05-12T13:00:00"),
                id: DayPilot.guid(),
                text: "EKA"
            });

            dp.events.add(e);

            var e = new DayPilot.Event({
                start: new DayPilot.Date("2016-05-13T12:00:00"),
                end: new DayPilot.Date("2016-05-13T16:00:00"),
                id: DayPilot.guid(),
                text: "TOKA"
            });

            //// event creating
            //dp.onTimeRangeSelected = function (args) {
            //    var name = prompt("New event name:", "Event");
            //    dp.clearSelection();
            //    if (!name) return;
            //    var e = new DayPilot.Event({
            //        start: args.start,
            //        end: args.end,
            //        id: DayPilot.guid(),
            //        resource: args.resource,
            //        text: name
            //    });
            //    dp.events.add(e);
            //    alert("Created");
            //};

            // event creating MODAL
            dp.onTimeRangeSelected = function (args) {
                createEvent();
                dp.update();
            };

            var modal = new DayPilot.Modal({
                onClosed: function (args) {
                    console.log("Modal dialog closed");
                },
                // ...
            });

            //modal.showUrl("Edit.aspx");

            //var modal = new DayPilot.Modal({
            //    onClosed: function (args) {
            //        console.log("Modal dialog closed");
            //    },
            //    // ...
            //});
        //modal.showHtml("<h1>Hello</h1>");

      

    </script>


